p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a:hover {
  text-decoration: none;
}

.trans-4, .nav-bar-section .lang-box a, .contant-section .contant-box, .contant-section .contant-box.box-1 .title-box .contant-title, .contant-section .contant-box.box-2 .title-box .contant-title, .footer-section .footer-ul ul li a {
  transition: 0.2s all ease-in-out;
}

body {
  font-family: "Lato", sans-serif;
}
html[dir="rtl"] body {
  font-family: "Cairo", sans-serif;
}

.intro-page {
  padding: 0 0 63px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/COVER.PNG");
  position: relative;
  z-index: 1;
}
.intro-page::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.prag {
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.nav-bar-section {
  padding: 40px 0;
}
.nav-bar-section .logo-box .logo-link img {
  height: 86px;
}
.nav-bar-section .lang-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.nav-bar-section .lang-box a {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 50px;
  color: black;
  background-color: white;
}
html[dir="rtl"] .nav-bar-section .lang-box a {
  font-family: "Lato", sans-serif;
}
.nav-bar-section .lang-box a:hover {
  color: white;
  background-color: black;
  transform: translateY(5px);
}

.contant-section {
  padding: 50px 0;
}
.contant-section .contant-box {
  margin: 20px 0;
}
.contant-section .contant-box:hover {
  margin-left: 5px;
}
.contant-section .contant-box.box-1 .title-box .contant-title {
  color: #3ec4bb;
}
.contant-section .contant-box.box-2 .title-box .contant-title {
  color: #f64403;
}
.contant-section .contant-box.box-2 .prag:after {
  background-color: #f64403;
}
.contant-section .contant-box .title-box {
  margin: 0 0 30px;
  padding: 0 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 65%;
}
.contant-section .contant-box .title-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.8);
}
.contant-section .contant-box .title-box .contant-title {
  font-size: 49px;
  font-weight: 700;
  margin: 0 0 20px;
  display: inline-block;
}
.contant-section .contant-box .title-box .company-title {
  font-size: 16px;
  color: white;
  font-weight: 500;
  display: inline-block;
}
.contant-section .contant-box .prag {
  text-align: justify;
  display: inline-block;
  padding: 0 0 60px;
  line-height: 1.6;
  position: relative;
  width: 60%;
  display: inline-block;
}
.contant-section .contant-box .prag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 90px;
  background-color: #3ec4bb;
}

.footer-section {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  left: 0;
  right: 0;
}
.footer-section .footer-ul ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.footer-section .footer-ul ul li {
  margin: 0 10px;
}
.footer-section .footer-ul ul li a {
  height: 25px;
  font-size: 14px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px white solid;
  border-radius: 50%;
}
.footer-section .footer-ul ul li a:hover {
  border: 1px #f64403 solid;
  color: #f64403;
}

@media (max-width: 772px) {
  .intro-page {
    height: unset !important;
    background-position: left;
  }

  .nav-bar-section .logo-box .logo-link img {
    height: 50px;
  }
  .nav-bar-section .lang-box a {
    font-size: 14px;
    padding: 2px 12px;
  }

  .contant-section {
    padding: 0;
  }
  .contant-section .contant-box {
    width: 68%;
    margin: 30px auto;
  }
  .contant-section .contant-box:hover {
    margin-left: auto;
  }
  .contant-section .contant-box .title-box {
    margin: 0 0 30px;
    padding: 0 0 14px;
    width: unset;
  }
  .contant-section .contant-box .title-box .contant-title {
    margin: 0 0 6px;
    font-size: 24px;
  }
  .contant-section .contant-box .title-box .company-title {
    font-size: 12px;
  }
  .contant-section .contant-box .prag {
    text-align: justify;
    width: unset;
    padding: 0 0 35px;
  }

  .footer-section {
    padding: 0 0 0px;
    text-align: center;
    position: relative;
  }
  .footer-section .footer-ul ul {
    margin: 20px 0;
    justify-content: center;
  }
  .footer-section .footer-ul ul li {
    margin: 0 10px;
  }
  .footer-section .footer-ul ul li a {
    height: 24px;
    font-size: 13px;
    width: 24px;
  }
}
